@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@plugin "daisyui" {
  themes: false;
}

@theme {
  --font-urbanist: "Urbanist", sans-serif !important;
  --font-jakarta: "Plus Jakarta Sans", sans-serif !important;
  --color-primary: #b8fd03 !important;
  --color-background: #525658 !important;
  --color-backgroundBlack: #080d10 !important;
}
